* {
    font-family: 'Ubuntu', sans-serif;
    viewport-fit: auto;
}

header {
    background-color: #2E948A;
    width: 1440px;
    height: 117px;
    left: 0px;
    top: 0px;
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    align-items: baseline;
}

header #logo-header {
    position: relative;
    width: 244px;
    height: 23px;
    left: 82px;
    top: 20px;
}

header ul li {
    list-style: none;
    text-decoration: none;
}

header #lista #contato {
    position: absolute;
    width: 95px;
    height: 23px;
    left: 1242px;
    top: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FDFDFD;
}

header #lista #blog {
    position: absolute;
    width: 55px;
    height: 23px;
    left: 1150px;
    top: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FDFDFD;
}

header #lista #cursos {
    position: absolute;
    width: 80px;
    height: 23px;
    left: 1028px;
    top: 47px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FDFDFD;
    text-decoration: none;
}

main {
    display: grid;
    border: 15px;
    position: relative;
}

main #Contato {
    color: #FF4081;
}

footer {
    width: 1440px;
    height: 207px;
    background-color: #419488;
    position: baseline;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: grid;
}

footer #logo-footer {
    position: absolute;
    /* left: 8.89%;
    right: 84.27%;
    top: 25.6%;
    bottom: 25.4%; */
}

footer #lista-footer {
    position: absolute;
    left: 43.26%;
    right: 51.81%;
    top: 25.6%;
    bottom: 34.3%;
}

footer #buttons-footer {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}